<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "pismall.png" %>
  <% end %>
  <div class="dropdown-menu">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
     <li> <%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link"%> </li>
      <li> <%= link_to "Proyecto", pages_proyecto_path, class: "navbar-wagon-item navbar-wagon-link"%></li>
      <li> <%= link_to "Artistas", pages_artistas_path, class: "navbar-wagon-item navbar-wagon-link"%> </li>
      <li> <%= link_to "Evento", pages_evento_path, class: "navbar-wagon-item navbar-wagon-link"%> </li>
    </ul>
  </div>

</div>
