<%= render 'shared/navbar' %>
  <div class="container text-center">
    <div class="title">
      <h3><strong>ARTISTAS</strong></h3>
      <hr>
    </div>
  </div>
  <div class="container padded">
    <div class="row artistas">
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_walter_path do %>
        <%= image_tag('walter.png')%>
        <h5>Walter Hurtado</h5>
        <%end%>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_luis_path do %>
        <%= image_tag('luis.png')%>
        <h5>Luis Zamora</h5>
        <%end%>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_susana_path do %>
        <%= image_tag('susana.png')%>
        <h5>Susana Aramburú</h5>
        <%end%>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_juan_path do %>
        <%= image_tag('juan.png')%>
        <h5>Juan De Dios Castillo</h5>
        <%end%>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_angel_path do %>
        <%= image_tag('angel.png')%>
        <h5>Ángel Ariel Núñez</h5>
        <%end%>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_jesus_path do %>
        <%= image_tag('jesus.png')%>
        <h5>Jesús Antonio Hernández</h5>
        <%end%>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_jani_path do %>
        <%= image_tag('janie.png')%>
        <h5>Jani Aguilar</h5>
        <%end%>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_hugo_path do %>
        <%= image_tag('hugo.png')%>
        <h5>Hugo González</h5>
        <%end%>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_eugenio_path do %>
        <%= image_tag('eugenio.png')%>
        <h5>Eugenio Igoa</h5>
        <%end%>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <%= link_to artistas_marco_path do %>
        <%= image_tag('marco.png')%>
        <h5>Marco Chen</h5>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
</div>


