<%= render 'shared/navbar' %>
<%= render 'shared/banner' %>
<div class="white proyecto">
  <div class="container text-center">
    <h3> <strong>EL PROYECTO</strong></h3>
    <div class="container">
      <div class="col-xs-12  col-sm-8 col-sm-offset-2">
        <h5>“LA FOTOGRAFÍA, HERRAMIENTA VISUAL QUE DESPIERTA EL INTERÉS POR CONOCER Y CREAR NUEVAS EXPERIENCIAS”</h5>
      </div>
    </div>
    <br>
   <p style="text-align: center;"> Panamá Instantánea nace como una iniciativa de un grupo de jóvenes radicados en Panamá,<br> que comparten una misma afición por la fotografía e Instagram.
      <br>
      <br>
      En esta edición, forma parte del circuito fotográfico Foto Septiembre, impulsado por el MAC.
    </p>
    <div class="padded">
      <%= link_to "Ver más", pages_proyecto_path, class: "btn btn-danger"%>
    </div>
  </div>
  <div class="row text-center" >
    <br>
    <div class="col-xs-12 col-md-3">
      <%= image_tag('logopunto.png')%>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= image_tag('pb.png')%>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= image_tag('mac.png')%>
    </div>
    <div class="col-xs-12 col-md-2">
      <%= image_tag('af.png')%>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag('hilton2.png')%>
    </div>

  </div>
  <br>
  <br>
</div>

<div class="expocicion" style="background-image: linear-gradient(-225deg, rgba(280,20,0,0.6) 0%, rgba(250,0,0,0.7) 50%), url('<%= image_path('objetivos.png')%>');background-position: center;">
  <div class= "padded">
    <h3><strong>EXPOSICIÓN</strong></h3>
    <ul class="list-unstyled">

      <li><i class="fa fa-camera-retro symbols" aria-hidden="true"></i></li>

      <br>
      <li><p>Galeria online de Panamá Instantánea.</p></li>
      <br>
      <div class="col-xs-12">
        <%= link_to "Ver fotografías en exhibición", pages_photos_path, class: "btn btn-expo"%>
      </div>
    </ul>
    <br>
    <br>
    <br>
    <div class="col-xs-12 col-sm-6">
      <%= link_to "Ver Artistas", pages_artistas_path, class: "btn btn-expo"%>
    </div>
    <div class="col-xs-12 col-sm-6 pad">
      <%= link_to "Más Sobre la Expo", pages_evento_path, class: "btn btn-expo"%>
    </div>
  </div>
</div>
<br>
<br>

<br>
<div class="hidden-xs hidden-sm">
  <div class="white">
    <div class="container">
      <div class="row fundacion text-center">
        <div class="col-xs-12">
          <%= image_tag('fundacion.png')%>
        </div>
      </div>
      <div class="wrappper-background">
          <div class="col-xs-12" style="text-align: center;">
            <p>Fundada en el 2012 por un colectivo de profesionales y artistas. <br>Apoya y promueve los diversos sectores artísticos en Panamá; dando soporte <br> a la formación y profesionalización de artistas emergentes, creando nexos entre el público y la cultural.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hidden-md hidden-lg">
  <div class="white">
    <div class="container">
      <div class="row fundacion text-center">
        <div class="col-xs-12">
          <%= image_tag('logopunto.png')%>
        </div>
        <div class="col-xs-12" style="text-align: center;">
          <p>Fundada en el 2012 por un colectivo de profesionales y artistas.
            <br>Apoya y promueve los diversos sectores artísticos en Panamá; dando soporte a la formación y profesionalización de artistas emergentes, creando nexos entre el público y la cultural.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

